*,
*::before,
*::after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	color: inherit;
	font-family: inherit;
}
html, body{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Raleway', sans-serif;
	background: #000;
	color: #E5E5E5;
	
}
body.lock{
	overflow: hidden;
	/*height: 100vh;*/
}
a {
  text-decoration: none;
  color: inherit; }

ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
input, button{
	outline: none;
}
button{
	cursor: pointer;
	border: none;
}
main{
	background-image: url('../img/bg.jpg');
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 100%;
}
@font-face {
    font-family: 'Blender Pro';
    src: url('../fonts/BlenderPro-Medium.eot');
    src: local('Blender Pro Medium'), local('BlenderPro-Medium'), url('../fonts/BlenderPro-Mediumd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro-Medium.html') format('woff2'), url('../fonts/BlenderPro-Medium.woff') format('woff'), url('../fonts/BlenderPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Blender Pro';
    src: url('../fonts/BlenderPro-ThinItalic.eot');
    src: local('Blender Pro Thin Italic'), local('BlenderPro-ThinItalic'), url('../fonts/BlenderPro-ThinItalicd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro-ThinItalic.html') format('woff2'), url('../fonts/BlenderPro-ThinItalic.woff') format('woff'), url('../fonts/BlenderPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Blender Pro';
    src: url('../fonts/BlenderPro-Heavy.eot');
    src: local('Blender Pro Heavy'), local('BlenderPro-Heavy'), url('../fonts/BlenderPro-Heavyd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro-Heavy.html') format('woff2'), url('../fonts/BlenderPro-Heavy.woff') format('woff'), url('../fonts/BlenderPro-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Blender Pro Book';
    src: url('../fonts/BlenderPro-BookItalic.eot');
    src: local('Blender Pro Book Italic'), local('BlenderPro-BookItalic'), url('../fonts/BlenderPro-BookItalicd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro-BookItalic.html') format('woff2'), url('../fonts/BlenderPro-BookItalic.woff') format('woff'), url('../fonts/BlenderPro-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Blender Pro Book';
    src: url('../fonts/BlenderPro-Book.eot');
    src: local('Blender Pro Book'), local('BlenderPro-Book'), url('../fonts/BlenderPro-Bookd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro-Book.html') format('woff2'), url('../fonts/BlenderPro-Book.woff') format('woff'), url('../fonts/BlenderPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blender Pro';
    src: url('../fonts/BlenderPro-Bold.eot');
    src: local('Blender Pro Bold'), local('BlenderPro-Bold'), url('../fonts/BlenderPro-Boldd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro-Bold.html') format('woff2'), url('../fonts/BlenderPro-Bold.woff') format('woff'), url('../fonts/BlenderPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Blender Pro';
    src: url('../fonts/BlenderPro-Thin.eot');
    src: local('Blender Pro Thin'), local('BlenderPro-Thin'), url('../fonts/BlenderPro-Thind41d.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro-Thin.html') format('woff2'), url('../fonts/BlenderPro-Thin.woff') format('woff'), url('../fonts/BlenderPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Blender Pro';
    src: url('../fonts/BlenderPro-MediumItalic.eot');
    src: local('Blender Pro Medium Italic'), local('BlenderPro-MediumItalic'), url('../fonts/BlenderPro-MediumItalicd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro-MediumItalic.html') format('woff2'), url('../fonts/BlenderPro-MediumItalic.woff') format('woff'), url('../fonts/BlenderPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Blender Pro';
    src: url('../fonts/BlenderPro-BoldItalic.eot');
    src: local('Blender Pro Bold Italic'), local('BlenderPro-BoldItalic'), url('../fonts/BlenderPro-BoldItalicd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro-BoldItalic.html') format('woff2'), url('../fonts/BlenderPro-BoldItalic.woff') format('woff'), url('../fonts/BlenderPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
.main-flex{
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 710px;
	height: 100vh;
	overflow: hidden;
}
.slider{
	max-width: 400px;
	height: 100%;
	pointer-events: none;
	user-select: none;
}
.slider img{
	width: 100%;
	border: none!important;
}